{
  "env": {"es6": true},
  "extends": [
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended",
    "prettier/unicorn",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "jsx": true,
    "sourceType": "module"
  },
  "plugins": ["prettier", "unicorn", "react"],
  "rules": {"prettier/prettier": "error", "semicolon": false}
}
